# Backend Configuration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
GOOGLE_CLIENT_ID=339374223627-lptj3pivl7ql3saliv7prlr8n67ce9g7.apps.googleusercontent.com
GEMINI_API_KEY=AIzaSyBijdj5aWLqdgYtSxIS_xMDqa5yMCFvy-4

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=traveloop
DB_USERNAME=postgres
DB_PASSWORD=postgres

# SMTP Configuration (Optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

# CORS Configuration
CORS_ORIGINS=http://localhost:5173

# Frontend Configuration
VITE_API_URL=http://localhost:8080
VITE_GOOGLE_CLIENT_ID=339374223627-lptj3pivl7ql3saliv7prlr8n67ce9g7.apps.googleusercontent.com
